
.prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
    padding-top: 20px; /* Add top padding to create space for the title */
  }
  
  .title {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputField {
    padding: 10px 20px;
    width: 40vw;
    height: 3vh;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.2);
    color: black;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
  }

  .executeButton {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    background-image: linear-gradient(
    40deg,
    hsl(291deg 100% 56%) 0%,
    hsl(194deg 100% 50%) 39%,
    hsl(181deg 100% 47%) 61%,
    hsl(158deg 100% 50%) 100%,
  );
    border-radius: 5px;
    /* color: #ffffff; */
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(10, 12, 32, 0.2);
    font-family: 'Quicksand', sans-serif;
  }
  
  .executeButton:hover {
    opacity: 0.8;
  }
  
  .rainbow-div {
    display: flex;
    justify-content: flex-end;
  }

  .rainbow-btn {
    padding: 1% 1% 0 0;
  }

  .connect-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* background-color: #3498db;  */
    background-color: white;
    color: #484848;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      40deg,
      hsl(291deg 100% 56%) 0%,
      hsl(194deg 100% 50%) 39%,
      hsl(181deg 100% 47%) 61%,
      hsl(158deg 100% 50%) 100%,
    );
    font-family: "Quicksand";
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .connect-btn:hover {
    /* background-color: #2980b9; */
    cursor: pointer;
  }
  
  .connect-btn:focus {
    outline: none;
  }
  
  .chain-dropdown {
    margin-right: 20px;
    height: 4.5vh;
    width: 9vw;
    font-size: 18px;
    font-family: "Quicksand";
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      40deg,
      hsl(291deg 100% 56%) 0%,
      hsl(194deg 100% 50%) 39%,
      hsl(181deg 100% 47%) 61%,
      hsl(158deg 100% 50%) 100%,
    );
  }

  .walletaddress-div {
    font-family: 'Quicksand';
    color: white;
    background-color: #2980b9;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 18px;
  }