
.prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
    padding-top: 20px; /* Add top padding to create space for the title */
  }
  
  .title {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputField {
    padding: 10px 20px;
    width: 40vw;
    height: 3vh;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.2);
    color: black;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
  }

  .executeButton {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    background-image: linear-gradient(
    40deg,
    hsl(291deg 100% 56%) 0%,
    hsl(194deg 100% 50%) 39%,
    hsl(181deg 100% 47%) 61%,
    hsl(158deg 100% 50%) 100%,
  );
    border-radius: 5px;
    /* color: #ffffff; */
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(10, 12, 32, 0.2);
    font-family: 'Quicksand', sans-serif;
  }
  
  .executeButton:hover {
    opacity: 0.8;
  }
  
  .rainbow-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .rainbow-btn {
    padding: 0% 0% 2% 0%;
  }

  .connect-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* background-color: #3498db;  */
    background-color: white;
    color: #484848;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      40deg,
      hsl(291deg 100% 56%) 0%,
      hsl(194deg 100% 50%) 39%,
      hsl(181deg 100% 47%) 61%,
      hsl(158deg 100% 50%) 100%,
    );
    font-family: "Quicksand";
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .connect-btn:hover {
    /* background-color: #2980b9; */
    cursor: pointer;
  }
  
  .connect-btn:focus {
    outline: none;
  }
  
  .chain-dropdown {
    margin-right: 20px;
    height: 4.5vh;
    width: 9vw;
    font-size: 18px;
    font-family: "Quicksand";
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      40deg,
      hsl(291deg 100% 56%) 0%,
      hsl(194deg 100% 50%) 39%,
      hsl(181deg 100% 47%) 61%,
      hsl(158deg 100% 50%) 100%,
    );
  }

  .walletaddress-div {
    font-family: 'Quicksand';
    color: white;
    background-color: #2980b9;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 18px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .header {
    width: auto;
  }
  
  .header p {
    text-align: center;
  }
  
  .topnav {
    background-color: #141619;
    border-bottom: 1px solid #30373d;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.75rem 1.5rem 0.75rem;
    align-items: center;
  }
  
  .navlogo, .navlinks a {
    font-weight: 500;
  }
  
  .navlogo {
    font-size: 1.25rem;
    margin-left: 1rem;
  }
  
  .navlinks {
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .apptitle {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  
  .appdescription {
    font-size: 1.1rem;
    margin: 1rem;
  }
  
  .link {
    font-weight: 500;
  }
  
  .cloudform {
    position: relative;
  }
  
  .textarea {
    position: relative;
    resize: none;
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 75vw;
    max-width: 900px;
    border-radius: 0.5rem;
    border: 1px solid #30373d;
    background: #070809;
    color: #ECECF1;
    outline: none;
  }
  
  .textarea:disabled {
    opacity: 0.5;
  }
  
  .textarea::placeholder {
    color: #5f6368;
  }
  
  .generatebutton {
    position: absolute;
    top: 0.87rem;
    right: 1rem;
    color: rgb(165, 162, 162);
    background: none;
    padding: 0.3rem;
    border: none;
    display: flex;
  }
  
  .loadingwheel {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
  }
  
  .svgicon {
    transform: rotate(90deg);
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
  }
  
  .generatebutton:hover {
    background: #1f2227;
    border-radius: 0.2rem;
  }
  
  .generatebutton:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background: none;
  }
  
  .messagelist {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0.5rem;
  }
  
  .messagelistloading {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .usermessage {
    background: #070809;
    padding: 1.5rem;
    color: #ECECF1;
  }
  
  .usermessagewaiting{
    padding: 1.5rem;
    color: #ECECF1;
    background: linear-gradient(to left, #070809, #1a1c20, #070809);
    background-size: 200% 200%;
    background-position: -100% 0;
    animation: loading-gradient 2s ease-in-out infinite;
    animation-direction: alternate;
    animation-name: loading-gradient;
  }
  
  @keyframes loading-gradient {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .apimessage {
    background: #141619;
    padding: 1.5rem;
    color: #ECECF1;
    animation: fadein 0.5s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .apimessage, .usermessage, .usermessagewaiting {
    display: flex;
  }
  
  .markdownanswer {
    line-height: 2;
  }
  
  .markdownanswer a:hover {
    opacity: 0.8;
  }
  
  .markdownanswer a {
    color: #16bed7;
    font-weight: 500;
  }
  
  .markdownanswer code {
    color: #15cb19;
    font-weight: 500;
    white-space: pre-wrap !important;
  }
  
  .markdownanswer ol, .markdownanswer ul {
    margin: 1rem;
  }
  
  .boticon, .usericon {
    margin-right: 1rem;
    border-radius: 0.1rem;
  }
  
  .markdownanswer h1, .markdownanswer h2, .markdownanswer h3 {
    font-size: inherit;
  }
  
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    flex-direction: column;
  }
  
  .cloud {
    width: 75vw;
    max-width: 900px;
    height: 65vh;
    background: #070809;
    border-radius: 0.5rem;
    border: 1px solid #30373d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pointsnormal {
    width: 90%;
    height: 90%;
  }
  
  .pointsdim {
    width: 90%;
    height: 90%;
    opacity: 0.25;
  }
  
  .footer {
    color: #5f6368;
    font-size: 0.8rem;
    margin: 1.5rem;
  }
  
  .footer a {
    font-weight: 500;
    color: #7a7d81;
  }
  
  .footer a:hover {
    opacity: 0.8;
  }
  
  .footer  p {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  /* Mobile optimization */
  @media (max-width: 600px) {
  
    .main {
      padding: 1rem;
      max-height: 90vh;
    }
  
    .cloud {
      width: 22rem;
      height: 28rem;
    }
    .textarea {
      width: 22rem;
    }
    .topnav {
      border: 1px solid black;
      align-items: center;
      padding: 0.85rem 0.75rem 0.85rem 0.75rem;
    }
  
    .navlogo {
      font-size: 1.25rem;
      width: 20rem;
    }
  
    .markdownanswer code {
      white-space : pre-wrap !important;
    }
  
    .footer {
      font-size: 0.7rem;
      width: 100%;
      text-align: center;
    }
}